.error {
    background-color: #ffe6e6;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

#myForm {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
}

input[type="text"]:focus,
input[type="email"]:focus {
    outline: none;
    border-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

input[type="date"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 14px;
    color: #333;
}

input[type="date"]:focus {
    outline: none;
    border-color: #333;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button[type="button"] {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

button[type="button"]:hover {
    background-color: #444;
}

#resultsContainer {
    display: none;
}

#myTable {
    border-collapse: collapse;
}

#myTable td {
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
}

#myTable td:hover {
    background-color: #cccccc;
}

#myTable td#cell_15:hover {
    background-color: #ffcccc;
}

#myTable td#cell_15.highlight {
    background-color: #ffcccc;
}

#myTable td:not(#cell_15).highlight {
    background-color: #ffffcc;
}